.lso-page {
  position: relative;

  .evaluations {
    padding: 0.5em;

    .evaluation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
      border: 1px solid #cecece;
      border-radius: 4px;

      .evaluation-wire {}

      .evaluation-grade {
        width: 50px;
        height: 50px;
      }

    }

  }

  footer {
    position: absolute;
    bottom: 0;
    height: 5em;
    width: 100%;
    text-align: center;
  }

}